# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/megadrive/"

video_threaded = "false"

#include "/opt/retropie/configs/all/retroarch.cfg"
